@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 2.8s steps(30, end) forwards;
}

.typewriter-cursor::after {
  content: "|";
  margin-left: 4px;
  animation: blink 2s infinite;
}
