@import "tailwindcss" source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import "tw-animate-css";

@layer utilities {
  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30, end) forwards;
  }

  .typewriter::after {
    content: "|";
    margin-left: 2px;
    animation: blink 0.75s step-end infinite;
  }

  .typewriter.typing-done::after {
    animation-delay: 0s;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}
